footer.footer
  .footer__container
    a.footer__logo(href='/')
      img.footer__logo-img(src='/img/logo.png' alt='Tourify')
    
    nav.footer__nav
      a(href='/') All Tours
      a(href='#') About Us
      a(href='#') Contact
      a(href='#') Privacy
    
    p.footer__copyright &copy; #{new Date().getFullYear()} Tourify. All rights reserved.
