header.header
  .header__container
    a.header__brand(href='/')
      img.header__logo(src='/img/logo.png' alt='Tourify')
    
    nav.nav.nav--user
      if user
        a.nav__el(href='/') All Tours
        a.nav__user-link(href='/me')
          img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
          span.nav__user-name= user.name.split(' ')[0]
        a.nav__el.nav__el--logout(href='/logout') Log out
      else
        a.nav__el(href='/') All Tours
        a.nav__el.nav__el--login(href='/login') Log in
        a.nav__el.nav__el--cta(href='/signup') Sign up
