header.header
  .header__container
    .header__left
      a.header__brand(href='/')
        span.header__brand-icon
          svg
            use(xlink:href='/img/icons.svg#icon-map')
        span.header__brand-text Tourify
      
      nav.nav.nav--main
        a.nav__el(href='/') Explore
        a.nav__el(href='/#popular') Popular
        a.nav__el(href='/#destinations') Destinations
    
    .header__right
      form.header__search
        svg.header__search-icon
          use(xlink:href='/img/icons.svg#icon-search')
        input.header__search-input(type='text' placeholder='Where to next?')
      
      nav.nav.nav--user
        if user
          a.nav__el.nav__el--icon(href='/my-bookings' title='My Bookings')
            svg
              use(xlink:href='/img/icons.svg#icon-briefcase')
          .nav__user-menu
            a.nav__user-link(href='/me')
              img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
              span.nav__user-name= user.name.split(' ')[0]
              svg.nav__user-arrow
                use(xlink:href='/img/icons.svg#icon-chevron-down')
          a.nav__el.nav__el--logout(href='/logout')
            svg
              use(xlink:href='/img/icons.svg#icon-log-out')
            span Log out
        else
          a.nav__el.nav__el--login(href='/login') Log in
          a.nav__el.nav__el--cta(href='/signup') Sign up
